@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc;
}

/* CONFIGURAÇÃO DE IMPRESSÃO (PDF) */
@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: #020617 !important;
    color: #000 !important; /* Fallback */
  }

  /* Esconde botões na hora de gerar o PDF */
  .no-print {
    display: none !important;
  }

  /* Ajustes para o PDF ficar bonito */
  .print-content {
    padding: 20px !important;
    background-color: #020617 !important;
    color: #fff !important;
  }
}
